[2021-04-02 03:15] charkour opened #1 "using multiple undo middleware does not totally work"
I have not tested this app while using multiple instances of useUndo and the undoStore. Not sure if it will work as intended or not.

[2021-04-02 12:41] charkour opened #2 "Figure out why build is failing"
I currently disabled it since it keeps failing

[2021-04-15 00:15] charkour opened #4 "add debounce"

[2021-04-19 19:57] MaxTwentythree opened #5 "clear undo history / exclude changes"
Hi there,
I checked out zundo and I'm already super happy with it, it works pretty much out of the box for me, so yay!

However, I have 2 usecases that I can't get to run right now:
1) clear undo history:
After persisting changes made to objects in my zustand-store to the database, i would like to clear the undo history (so that the undo list is empty) .. is this possible?
2) exclude changes:
Some

[2021-04-20 00:51] charkour commented on #5
Hi @MaxTwentythree,

Thanks for the notes. I'm glad to hear using it has been going well for the most part.

1. clear undo history:
This is a good idea! This isn't (easily) possible now, but would it be useful to have `useUndo()` return a `clear` function that can be called to clear to past states? `const { undo, redo, clear } = useUndo()`

2. exclude changes:
I haven't thought about this before,

[2021-04-20 17:48] MaxTwentythree commented on #5
@charkour
Thanks for your reply!
concerning the clear function: this would be awesome!

No worries concerning 2) I'll create a separate undo store :)

[2021-04-20 17:53] charkour commented on #5
Sweet, I can add the `clear` function later (in about 10 hours) unless you would like to add it yourself and make a PR.

For question/request 2, if this feature needs to be reconsidered in the future, please feel free to make a new issue! Thanks

[2021-04-20 21:50] MaxTwentythree commented on #5
I would be super grateful for the function! I can try to create a PR, but probably would not make it until the weekend, so probably you're faster..

[2021-04-21 01:50] charkour commented on #5
The `clear` function was published in [v0.4.0](https://www.npmjs.com/package/zundo/v/0.4.0). Let me know if you have any troubles!

If it works well, then you can close the issue. Thanks!

[2021-04-21 11:48] MaxTwentythree commented on #5
This works perfectly! Thanks a lot for the quick enhancement!!

[2021-04-24 16:59] charkour commented on #1
See https://codesandbox.io/s/zundo-forked-colxb?file=/src/App.tsx

[2021-05-13 22:51] charkour opened #6 "create a vanilla store with undo/redo capabilities"
right now create only returns the hook version

[2021-05-15 01:17] #1 closed

[2021-07-01 09:11] funwithtriangles opened #8 "Exclude / Ignore changes"
It would be great to have the ability to ignore certain top level properties in the state tree, so they are never affected by undo and redo actions. Currently this is achievable with multiple stores but I'm not too fond of this solution.

I realise this has already been raised (https://github.com/charkour/zundo/issues/5) but that's a mixed issue so I figured it made more sense to have a standalone

[2021-07-01 19:35] charkour commented on #8
Hi! Thanks fir opening the issue. Yeah, #5 is a combined issue so thanks for opening this one.

I agree it would be a nice feature to have. What would you like the API to look like?

Also, out of curiosity, what is the issue of making multiple stores? One for undoable data and the other for not?

Thanks

[2021-07-01 22:00] funwithtriangles commented on #8
Hey! Thanks for getting back :) I think passing an array of property names for the top-level parts of the state you want to ignore is quite a simple approach. I was also thinking you could modify the `set` function to have an extra argument where you can override whether that particular change to state gets stored in history or not. If the user hits "back", it would simply skip over that point in

[2021-07-02 16:25] charkour commented on #8
Great, thanks for the detailed response!

Alright, so for omitting fields from being tracked, something like this would make sense?

[code]

This API has modified the `set` function to take a second parameter which is an array of field names to omitting from tracking history. This is what you're suggesting? I think that would be great to add.

Thanks for explaining why it makes sense to not create

[2021-07-02 16:33] funwithtriangles commented on #8
Ah, I was actually thinking that array gets passed in on store creation. I
can make another issue explaining the modification of set.

On Fri, 2 Jul 2021, 18:25 Charles Kornoelje, ***@***.***>
wrote:

[2021-07-02 17:51] charkour commented on #8
Thanks.

Something like this?

[code]

[2021-07-02 17:57] funwithtriangles commented on #8
Yep! What do you reckon? I think this makes sense for the basic ignoring of
state slices.

On Fri, 2 Jul 2021, 19:51 Charles Kornoelje, ***@***.***>
wrote:

[2021-07-02 20:05] charkour commented on #8
Yeah, let's go with that. I'll spend some time tomorrow afternoon implementing it. Thanks

[2021-07-04 01:25] charkour commented on #8
I worked on it. Testing it now and will have a PR in the next few days.

[2021-07-05 14:34] funwithtriangles opened #9 "Advanced usage of set for ignoring state changes"
It would be nice if we could ignore state on a granular level, for any state change.

Perhaps you have a piece of state that changes very often and you only want to store those changes occasionally. One example would be the a rotation property on a 3D object. Perhaps you have have an app where you must rotate 3D objects. These update every frame but you only want to store the beginning and end sta

[2021-07-09 01:21] charkour commented on #8
Hey @funwithtriangles, PR #10 implement your request. Would you be willing to check it out to see if it works the way you were hoping?

If you have any ideas on how you could test my changes more easily, please let me know.

Thanks!

[2021-07-09 01:22] charkour commented on #5
The second enhancement to exclude changes is tracked in #8 and is implemented in #10.

[2021-07-09 01:22] #5 closed

[2021-07-09 01:31] charkour commented on #9
Thanks for this issue request. I think the problem you describe and the solution are fantastic. I agree that coming up with a good API for this would be difficult but your initial suggestions are a great starting point.

So in the first code snippet, `setRotationWithIgnore` would be called while the object is rotating, and at the end of the movement, `setRotation` would be called? Perhaps instead

[2021-07-09 07:47] funwithtriangles commented on #8
Hey! I'm working on a different project today, will pick this up on Monday :)

[2021-07-09 07:57] funwithtriangles commented on #9
Yes I was just putting a super simple example in first to get the point across. Definitely think you could either add an extra argument to your setter function (as you have shown) or use `get` to do the logic inside of the function without the need for that extra argument.

I'd love to have a go at doing a PR for this :) The only other possible thing I was thinking for the API was to pass in a set

[2021-07-09 11:02] charkour commented on #9
I do like the idea of a settings object. Let's go with that!

[2021-07-12 01:52] nosferatu500 opened #11 "History depth limitation."
Hi! Thank you for zundo!

I think it would be cool to be able to limit the depth of the story. So that when the limit is reached, the history of changes is saved, but the oldest item is removed from the general list.

I plan to use Zundo in my project and such functionality would be very useful to me.
Can you implement a similar functionality?

[2021-07-12 01:55] charkour commented on #11
I think that is a great idea!

Yeah, that can be done. I'll try to have it ready in a week's time. Glad you are finding zundo helpful!

[2021-07-12 10:17] nosferatu500 opened #12 "Proposal: Return function instead of undefined."
Now if I trying to call zundo funcs (undo/redo/clear) when undo / redo history is empty, zundo will return undefined instead of undo, redo, clear funcs.

I have 6 different stores and now I have to wrap each call with `if (get().undo) get().undo()` for each zundo funcs.
It's not an issue but looks a little dirty. What if zundo would return a function regardless of the content of the history?

[2021-07-12 11:51] funwithtriangles opened #13 "Don't store state moment in history if equal to previous state"
Sometimes an action might happen in the store that results in no change to state. I can't see any reason to store these non-changes in history, as firing an undo will result in no changes.

[2021-07-12 11:53] funwithtriangles commented on #8
Tested in my project and it's all working great, even with other middlewares :)

[2021-07-12 11:56] funwithtriangles commented on #9
Just so you know, I do have a need for this and would still like to do the PR, but it's something I'll pick up in a few weeks time when it's relevant for the project I'm on.

[2021-07-12 16:47] charkour commented on #12
That's a good catch. Would you be able to post a code snippet so I can be certain I understand the context?

Thanks.

[2021-07-12 16:47] charkour commented on #13
Yup, totally makes sense. Thanks!

[2021-07-12 16:48] charkour commented on #8
Thanks

[2021-07-12 16:49] #8 closed

[2021-07-12 16:50] charkour commented on #9
Sounds good, thanks for letting me know!

I'll review the PR once it is ready.

[2021-07-12 17:02] charkour commented on #8
This is released in v1.1.0

[2021-07-12 23:41] nosferatu500 commented on #13
I propose to do this as an option. Since in some cases I need the ability to save the state even if the state has not changed.

[2021-07-12 23:44] nosferatu500 commented on #13
For example: by default, save only if the state has changed. but provide the option to save the state even if there are no changes.

[2021-07-12 23:57] nosferatu500 commented on #13
For example, my project has 3 different components. In order to implement undo / redo for each component in the correct sequence, I created another one store in which I write in which component the change was made, so that I can later be able to undo/redo it.

And in this case, I have 1 store in which I can have the same records in history.
For example: [componentA -> componentA -> componentB -> c

[2021-07-13 00:03] nosferatu500 commented on #12
I'll do it later today.

[2021-07-13 00:07] charkour commented on #12
Sounds good. Thanks!

[2021-07-13 00:15] charkour commented on #13
Thanks @nosferatu500, making it an option sounds like a great idea.

I'm curious why you need to track the order of updates to components? Would you be able to explain it further? I want to understand your use case.

[2021-07-13 00:16] charkour commented on #11
Do you think we should add a default limit? I think it should be unlimited or very large by default.

[2021-07-13 00:19] charkour opened #14 "improve typescript types"
Left some todos in the code with some tricky typescript needs

[2021-07-13 00:22] nosferatu500 commented on #11
I think it could be unlimited by default but it's important to add the ability to limit the store.
In my case I'm planing to do it to 100 because in my case each saved state can require a lot of RAM and I want to prevent any OOM errors.

[2021-07-13 00:30] nosferatu500 commented on #13
@charkour

For example: 3 different canvas components (A, B, C)

User made changes in component A, then B, then drawing something again in B and again in C. When user will press Ctrl+Z s/he will await that state will be changed from C to A as C-> B->B->A.

For this purpose I created another one store and for each user's changes I made a record (name of component) which component was changed. (comp

[2021-07-13 00:36] nosferatu500 commented on #13
Or imagine Photoshop. When you change something like canvas, panel or some parameter and call undo later, it will do it exactly the same way you did it, but in reverse order. Because of this it's important to know right order for undo. And because of this name of component (canvas for example) can be the same for "undo/redo manager". All this time canvas will have a different state, but undo/redo

[2021-07-13 09:18] funwithtriangles commented on #13
Ah that's an interesting use case I hadn't thought of @nosferatu500. I hadn't considered multiple stores having to stay in sync. The question now is, what should the default be? I'd argue that the case of multiple stores is an edge case and for most purposes users would automatically want to skip over non-changes in history. However this would be a breaking change, so I understand why it might mak

[2021-07-14 01:49] nosferatu500 commented on #12
Hey! Sorry for the delay, but I'm too busy this week.

I will show an example with a bug this weekend.

[2021-07-14 02:07] charkour commented on #12
Sounds good. I'm busy as well so this weekend will be great. Thanks!

[2021-09-29 20:10] vixalien opened #15 "Add feature to view if it can undo or redo"
I was thinking if it would be possible to add apis to check if it can undo or redo. I was thinking maybe: `canUndo` and `canRedo` which would return true or false. it would be nice to also store history change itself like: `history`

[code]

Of course this is a proposal and any comment is welcome.

Or we could even attach the apis to `undo` and `redo` directly like so: `undo.history` or `undo.dept

[2021-10-03 02:45] charkour commented on #15
This is an interesting proposal. Thanks for sharing. I'll think about it over the next week and respond with my thoughts so we can discuss the best updates for the API.

Thanks for suggesting this!!

[2021-10-05 01:13] vixalien commented on #15
you can decide if this is needed and decide which way it will need to be implemented. After deciding, I can create a PR myself.

[2021-10-05 10:59] charkour commented on #15
Sounds good.

[2021-10-14 16:39] charkour commented on #9
Oh yes, overriding the set foundation could cause issues. I assumed that `zundo` would be used at the base but I'm thinking that was a wrong assumption.

Maybe I can release v2 that doesn't override the `set` function or just provide better typings.

[2021-10-14 16:39] charkour commented on #9
I can review your code later this weekend. Thanks!

[2021-10-18 02:32] charkour commented on #2
fix prettier issues

[2021-10-18 02:32] #2 closed

[2021-10-19 01:02] #13 closed

[2021-10-19 01:36] charkour commented on #13
Released in [v1.2.1](https://www.npmjs.com/package/zundo/v/1.2.1)

[2021-10-24 22:19] charkour opened #19 "Clear function does not cause re-render"
Using the `clear` function from the zundo hook, the view does not re-render correctly.

To repro, increment then call clear and notice previous states are not removed.

[2021-10-25 10:20] funwithtriangles opened #21 "TS Issue: Introduced in 1.2.2"
This is a strange one because v1.2.2 doesn't seem to have many changes, but in my project, I have no type errors when using 1.2.1, when I upgrade to 1.2.2 (or higher) I'm getting the below error when trying to use the store.

[code]

For now the easiest fix is just to use a `@ts-ignore`:

[code]

[2021-10-25 11:19] charkour opened #22 "Fix/set up ESLint and Prettier in deliver environment"
Right now, the set up with TSDX does not properly work with ESLint and Prettier.

[2021-10-26 12:07] #19 closed, assigned to nobody

[2021-11-11 15:53] funwithtriangles commented on #4
Yep, I'm doing it without lodash. All seems to be working well but want to test it a little bit before I make the PR!

[2021-11-12 03:29] charkour commented on #4
Awesome. Glad to hear it's working well!

[2021-11-15 17:04] funwithtriangles opened #24 "Rename "clear" to "clearUndoHistory""
Having a top level function called `clear` is quite misleading. This doesn't look like it will clear undo history:

[code]

I think we should either rename `clear` to `clearUndoHistory` or move all of these helper functions into a top level object, `undoHelpers`. So the above would look like this:

[code]

[2021-11-16 04:03] charkour commented on #24
Yes. I like both suggestions, and I might lean towards the second suggestion.

The original idea to keep things very terse (and potentially unclear) was the minimalist approach the @pmndrs team took with zustand.

[2021-11-16 04:03] charkour commented on #24
But I'd much prefer making things more clear. Thanks for this great suggestion!

[2021-11-19 03:11] charkour commented on #4
Released in [v1.5.1](https://www.npmjs.com/package/zundo/v/1.5.1) as the coolOffPeriod.

[2021-11-19 03:11] #4 closed

[2021-11-22 11:55] funwithtriangles opened #26 "Whitelist option (opposite of omit)"
I'm not sure of the best naming convention but it would be good if we could have something like `whitelist`, which is an array of property names which are the only changes zundo should track. Basically, the opposite of the current `omit` option. My app has far more top-level properties I want to ignore so would be more convenient for me to explicitly name the few I actually want to track.

I'm hap

[2021-11-23 12:07] charkour commented on #26
I love the whitelist/blacklist naming. I thinking it would be part of the options that gets passed in when the undo store is created.

Would it be possible to keep omit for now and have it be aliased? We can deprecate it but avoid breaking changes until we are ready for zundo v2.

[2021-11-28 03:16] charkour opened #28 "type `UseStore` is deprecated in zundo"
Update `UseStore` to `UseBoundStore`.

[2021-11-28 03:30] #22 closed

[2021-11-28 16:14] funwithtriangles commented on #26
All makes sense! An alias is a good idea for sure

On Tue, 23 Nov 2021, 13:07 Charles Kornoelje, ***@***.***>
wrote:

[2022-01-03 23:06] #26 closed

[2022-01-03 23:14] charkour commented on #26
This was released in [v1.5.9](https://www.npmjs.com/package/zundo/v/1.5.9)

[2022-01-03 23:15] charkour opened #34 "Start testing in node 10 again."
It should still work, just need to use npm in the github actions and not pnpm.

[2022-01-08 17:37] charkour commented on #28
#35

[2022-01-08 17:38] charkour commented on #21
I hope to fix this in v2

[2022-03-02 02:37] tresabhi opened #36 "[Help] How do I made `zundo` work with `subscribeWithSelector` in typescript?"
How do I made `zundo` work with `subscribeWithSelector` in typescript?

Wrapping `subscribeWithSelector` with zundo middleware unleashes Pandora's box and it does not make sense to me, a relatively new typescipt-er.

I have tried extending `BlueprintStoreState` with zundo's `UndoState` (reference: https://github.com/charkour/zundo#alternatively-use-the-middleware), but that got me nowhere).

Curre

[2022-03-02 04:16] charkour commented on #36
Hey! Thanks for making this issue.

To be honest, I haven't tried using zundo with `SubscribeWithSelector`. Would you be willing to provide a code sandbox with the issue you are seeing? That will help me debug the issue more quickly. Thanks!

[2022-03-02 17:24] TresAbhi commented on #36
Wow, I made it work in the sandbox somehow; I surprise myself sometimes...

[https://codesandbox.io/s/angry-star-njtw0r](https://codesandbox.io/s/angry-star-njtw0r)

[2022-03-02 17:42] TresAbhi commented on #36
I updated the sandbox to actually test the selector, and it is working flawlessly!

[2022-03-02 18:19] charkour commented on #36
Thanks!! I'll update the docs tonight. Thanks for the example and for the updates!

[2022-03-27 13:59] dotesfera commented on #15
Hi, this is a interesting feature and makes total sense. Is it implemented already?

[2022-03-27 23:56] charkour commented on #15
Hey @dotesfera,

It's not currently implemented. Would you like to make a PR? I'm not sure how soon I can get to this.

[2022-04-13 23:06] vixalien commented on #15
Hello. I was trying to implement a PR but I think this feature is not necessary because of the following different statements:

1. First, `canUndo` and `canRedo` can be easily implemented by checking the length of `state.prevStates` and `state.futureStates` respectively. That is, `canUndo` can be implemented by `!!state.prevStates.length` (The `!!` basically converts the value into a boolean, or y

[2022-04-13 23:38] charkour commented on #15
Hey @vixalien,

Thanks for the feedback! In v2 there will be support for using diffs or snapshots. I agree that snapshots can be a limitation.

Also, as for filtering, I'd like to not use third party dependencies, but you as the library consumer will be able to pass your own equality function which can be `lodash.pick` or one you hand rolled yourself. Kinda like how React.memo has a default equali

[2022-04-13 23:42] vixalien commented on #15
Nice. Looking forward to v2. Giving the user their own choices is a good idea.

Nice work!!!

[2022-04-14 00:13] charkour commented on #15
Thanks. I appreciate the support. Wishing I had more time to devote to this project.

[2022-07-07 18:33] charkour opened #38 "Support zustand v4"

[2022-07-20 14:03] TimKraemer opened #39 "execute custom function on saving state with activated cool-off period"
Hi,
amazing middleware - I absolutely love it!
I'm trying to find a way to find a way to execute a custom function whenever a state is saved, while cool-off period is set.

For example:
Whenever my user edits the store by using my app I will generate an unique url to load exactly that state.
I could just subscribe to my store and to it there, but since I'm using a cool-off period of 2000ms it woul

[2022-07-21 12:19] charkour commented on #39
Hi @TimKraemer, glad you here you love the middleware!

To clarify the context of your use case, whenever a user makes an edit to the store, a unique URL will be generated for that state and will have a cool-off period of 2000ms before generating a new URL for the next new state?

My initial thought is that you could use `setTimeout(() => generateUrlFromState(store.getState(), 2000)`, but the stor

[2022-07-21 12:49] TimKraemer commented on #39
Yes @charkour, you got the idea!
The timeout is how I'm currently mitigating the issue, but it's not ideal - also it prevents me from reusing the links, when I undo/redo my state...
A callback like that would be amazing!

Best,
Tim

[2022-07-21 13:08] charkour commented on #39
I can see what I can do tonight.

Would you be able to provide the callback when you create the store and pass middleware options, or do you need to pass the callback when you call the `useStoreWithUndo()` hook?

For a little more context:

[code]

[2022-07-21 13:26] TimKraemer commented on #39
both options are possible - I trust your instincts, which one would be "more beautiful" in a code structural sense.
Instinctively I would think it's nicer to have this in my `App` context to not fill the store with unrelated code

[2022-07-22 16:35] charkour commented on #39
I like the idea of keeping it within the `App` context. This will be harder to do, but I think it's cleaner. I'll look into this more over the weekend.

Thanks for your patience and for the great suggestion!

[2022-07-28 15:49] charkour opened #40 "Determine what happens if multiple state pushes happen out of order"
Let's say that there is a slow push operation to store a previous state, and then one that executes faster. Will it cause history to be out of sync with what happened in reality?

[2022-07-29 20:41] TimKraemer commented on #39
If I can be of any help - I'd gladly take a look, if you'd give me a hint were to start :)

[2022-08-01 13:30] charkour commented on #39
Hi Tim!

I spent some time trying to figure out how to do this with v1 of the package, and I was unable to figure it out with us wanting to pass in the callback when `useStore` is called within the App context. I'm working on v2 which I believe should make this possible.

If would be great if you would like to take a look and implement this feature in v1. Perhaps you could find a way to pass the c

[2022-08-02 02:57] charkour commented on #38
Right now, a workaround is the use `npm i --legacy-peer-deps`.

I can update them by this weekend unless someone makes a PR before then. Thanks for your patience!

[2022-08-02 02:57] charkour commented on #38
I'm also working on v2 and will release that last this month.

[2022-08-02 09:15] Alexandredc commented on #38
Hi @charkour,
Thanks a lot for your work on this package ! I will be glad to give you some feedback when v2 released !
In the mean time, do you plan to publish a new beta version on npm in the next few days ?

[2022-08-02 13:56] charkour commented on #38
Hi @Alexandredc!

I'll post an update to v1 tonight that supports zustand v4. And I'll release a beta of zundo v2 later this week which I would appreciate feedback on. Thanks for offering your help.

[2022-08-03 00:20] charkour commented on #34
Will work on this once v2 is released

[2022-08-03 00:20] #34 closed

[2022-08-03 00:22] charkour commented on #24
In v2, all utilities will be under a `temporal` object attached to the store. Thank you for the great suggestion! I preferred nesting objects to keep concise names.

[2022-08-03 00:22] #24 closed

[2022-08-03 00:23] charkour commented on #38
Hey @Alexandredc and all,

[v1.6.0](https://www.npmjs.com/package/zundo/v/1.6.0) now supports zustand v4. It's not the prettiest code, but it is compatible. Please let me know if there are any issues.

As of now, all new features requests will be directed to [v2](https://github.com/charkour/zundo/tree/v2)

[2022-08-03 00:23] #38 closed

[2022-08-03 00:24] charkour commented on #28
This is fixed in v1.6.0

[2022-08-03 00:24] #28 closed

[2022-08-03 12:02] funwithtriangles opened #42 "Improve types (chaining middlewares)"
While this lib is now working with zustand v4, the types still aren't quite right when chaining with other middlewares. I'm currently in the middle of trying to fix this, [ following this guide](https://github.com/pmndrs/zustand/blob/main/docs/typescript.md#middleware-that-changes-the-store-type).

Hopefully I can get a PR in soon!

[2022-08-03 13:10] charkour commented on #42
Thanks, @funwithtriangles!

I'll review it once you make that PR. I apologize that the latest release wasn't the most type-correct code so I appreciate your help.

[2022-08-08 17:48] charkour commented on #42
This has been released as [v2.0.0-experimental.0](https://www.npmjs.com/package/zundo/v/2.0.0-experimental.0).

You can install with npm i zundo@experimental.

Please re-open if this issue is not solved! Thanks.

[2022-08-08 17:48] #42 closed

[2022-08-08 17:50] charkour commented on #39
I was able to solve this in v2 of zundo. Will let you know when the beta is released. Should be by the end of the week. Thanks!

[2022-08-16 19:20] adanielyan opened #45 "Will this work with native persist middleware?"
This looks great, but before adding it to my project I'd like to know if and how this middleware will work with zustand's [persist middleware](https://github.com/pmndrs/zustand/blob/main/docs/persisting-store-data.md). Please advise!

[2022-08-18 02:36] feuersteiner opened #46 "What happens with a multi-store model?"
Hi, well done for the work on Zundo, love it.
question if self-explanatory, I am using zustand with a multi-store schema, example:
- bear store
- honey store
I like them separate to minimize the surface of error (rerenders, mistakes, cleaner code...).
I looked into the demos you provided, yet, not sure how that works if I have multiple stores.
Thanks for your help!

[2022-08-18 03:53] charkour opened #47 "Update docs"
Add examples.

Possibly try using million.js

[2022-08-18 15:56] charkour commented on #46
Hi @feuersteiner,

Glad you appreciate zundo!

If you have two stores, you can wrap each of them in the zundo middleware. Do you want to undo them at the same time? If so, there isn't a built-in way to do that, but you can create a function that calls undo in both stores.

If you provide a code sandbox, that will give me a better idea of the context of your question. Thanks!

[2022-08-18 16:02] feuersteiner commented on #46
thanks for your response @charkour

I'll better explain it:
- I have a design app, with multiple stores for different types of design params
- the stores are independent
- changes are triggered by the user, mutating one store at a time

the expected behavior is, being able to deliver do and undo to the user, i.e. :
- undo knowing which store have been mutated last
- keeping track of the changes
-

[2022-08-19 04:49] charkour commented on #21
Nearing the end of v2. Won't be fixing this issue.

The types for v2 are much better. Sorry for the hassle!

[2022-08-19 04:49] #21 closed

[2022-08-19 04:55] charkour commented on #45
Hi @adanielyan,

Thanks for your great question. Are you asking if the past and future states are persisted, or if your store is persisted?

Thanks.

[2022-08-23 16:35] charkour commented on #46
Hi @feuersteiner,

This is a great explanation of the problem you're facing. I think zundo should be able to support this in the future, but currently, it does not.

I'm nearing the completion of v2 of zundo (https://github.com/charkour/zundo/pull/43) and you can see the progress there. I'd love to discuss with you how we can best implement this feature. And I'm happy to have you contribute that t

[2022-08-25 19:58] feuersteiner commented on #46
I think that looks neat, there's a case where some stores addition to the "undo stack" is useless (example: settings store).

I agree with the design.

Once V2 is shipped let's talk, don't want to overwhelm you.

But yeah, we can have an issue somewhere where we can spec the feature and open it to other input from the community, what do you think ?

[2022-08-25 20:17] charkour commented on #46
Sounds great! If you want, you can create an issue and start to spec it out whenever you want.

I think it's a fantastic feature and not one I needed when I originally started the project, but I can see others requesting it as well. Thanks!

[2022-09-04 01:19] jo-sip opened #48 "`clear` seems to be resetting my entire store state."
Hi.

I think the latest change might have potentially broken `clear` from the middleware. When I call it to reset my history, it seems to wipe my entire store and I get ```Cannot destructure property 'X' of 'myStore(...)' as it is undefined```, when I use my store. I don't think I changed any of my code except updating npm. When I comment my call of `clear` out (when I want to reset the store and

[2022-09-05 11:31] charkour commented on #48
Hey @jo-sip, thanks for making an issue! I can check this out soon. What will help me debug is reproduction steps or a code sandbox. Thank you!

[2022-09-06 18:25] jo-sip commented on #48
No worries, here's a simple example that repros the bug. https://codesandbox.io/s/clear-debug-zundo-6rde7m?file=/src/App.tsx

[2022-09-06 18:29] charkour commented on #48
Great, thank you! I was able to reproduce the issue. Very strange.

I can look into this! For the time being, I'd roll back to the previous version.

[2022-09-15 12:39] mowhcen opened #49 "Combine zundo middleware with immer & devtools"
recently, I work on a project that uses [zustand](https://github.com/pmndrs/zustand) store as its state manager.

- I have nested states so have to use [immer middleware](https://github.com/pmndrs/zustand#immer-middleware)
- And I use typescript so for debugging I needed [redux devtools](https://github.com/pmndrs/zustand#typescript-usage)

so I want to add undo & redo feature for my store but here

[2022-09-15 13:03] mowhcen commented on #49
zundo version ` "zundo": "^1.6.0"`

And this sandbox shows a simple version of my store: [sandbox](https://codesandbox.io/s/currying-dream-8o16to?file=/src/store.ts)

[2022-09-15 13:12] charkour commented on #49
Great, thanks! There's another open issue with that version. I think the types are a bit buggy.

After my work day, I can try to play around with it.

You can try running `npm i zundo@experimental`. That version of the package may have fixed those type issues.

[2022-09-15 17:16] mowhcen commented on #49
I used the experimental version and the current error is gone but now i can't undo or redo states  and because types are required i have to define the functions in store and basically it is just a function and don't do anything so i made them optional and i got the same result

[2022-09-15 17:17] charkour commented on #49
Thanks for the feedback. Sorry for the issues!

I can look into this more later.

[2022-09-15 19:20] mowhcen commented on #49
I saw this release note and test it and everything is working now except for some nested changes in state  :)
` const { undo, redo, clear, setIsUndoHistoryEnabled, getState } = useStore.temporal;`

tank you for your help

this is my solution:
[sandbox code](https://codesandbox.io/s/currying-dream-8o16to?file=/src/app.tsx)

[2022-09-16 02:28] charkour commented on #49
@mowhcen glad it sounds like it is working. Is there anything else I can help you with? I'll release v2 beta this weekend.

[2022-09-16 08:29] mowhcen commented on #49
sounds great i will look into it 😄

[2022-09-23 02:57] charkour commented on #39
This is released in v2 of zundo.

you can try this out with `npm i zundo@beta`

[2022-09-23 02:57] #39 closed

[2022-09-23 02:57] charkour commented on #14
`npm i zundo@beta`

[2022-09-23 02:57] #14 closed

[2022-09-23 02:58] charkour commented on #6
`npm i zundo@beta`

[2022-09-23 02:58] #6 closed

[2022-09-23 02:58] #47 closed

[2022-09-23 02:59] charkour commented on #45
v2 should work with the persist middleware.

You can test it out with `npm i zundo@beta`!

[2022-09-23 02:59] #45 closed

[2022-09-23 03:00] charkour commented on #49
Hey @mowhcen,

I've released a beta version of zundo. You can install it with `npm i zundo@beta`. Please reopen the issue if you run into problems. Thanks for your patience!

[2022-09-23 03:00] #49 closed

[2022-09-23 03:01] charkour commented on #48
I'm not sure what's wrong with that version.

v2 beta should fix this issue. There is a small API change for accessing `undo` and `redo` but the readme explains how to use that. Sorry again for the issue and for the delay!

`npm i zundo@beta`

[2022-09-23 03:01] #48 closed

[2022-09-23 07:37] ohthepain commented on #46
I would also like to implement undo and multiple stores or slices.

[2022-09-23 07:52] ohthepain opened #50 ""npm -i zundo" fails"
Same results with "npm -i zundo@beta"

It seems to be requiring zustand 3.0.0. I am on zustand 4.1.1.

zundo depends on zustand 4.1.1 here: https://codesandbox.io/s/zundo-2dom9?file=/src/App.tsx:27-31

master* $ npm i zundo                                                                                                      [9:46:00]
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve depend

[2022-09-23 08:39] ohthepain commented on #50
I confirmed in a new project. `npm I undo` works as long as I have not installed `zustand`

[2022-09-23 11:12] charkour commented on #50
Oops, thanks an issue! I should be able to get that fixed soon.

Thanks for reporting!

[2022-09-23 11:14] charkour commented on #46
Thanks, @ohthepain

If you make a PR, I'd love to review it!

[2022-09-23 12:21] #50 closed

[2022-09-23 12:33] charkour commented on #50
This should be fixed.

`npm i zundo@beta` should update you to beta.4

Please let me know if you have any issues.

[2022-09-23 19:25] feuersteiner commented on #46
hey @charkour, although I had different stores at first, I pivoted to a single store strategy concerning the main features, and considered adding more "actions" and using Immer's "produce" to ease the headache. Will be using the package as is once the site's is up. Thought you'd want to know that.

[2022-09-23 19:27] charkour commented on #46
Thanks for letting me know!

[2022-09-23 21:54] feuersteiner commented on #15
@vixalien any status on the PR you wanted to make ?
even though it can be "computed", a library should makes it's user's life easier (aka provide the properties directly).
can we work together to make this PR ? cc @charkour

[2022-09-24 14:40] vixalien commented on #15
wow it's been almost a year since i opened this issue. i don't use zundo much now so i can't think clearly on the best implementation. do you got ideas??

[2022-09-24 22:30] charkour commented on #15
We can add a computed property in v2!

Hopefully in the next beta release or shortly after. You can try out v2 right now with `npm I zundo@beta`. It's 900 Bytes instead of the ~10 kB it was before.

[2022-09-25 23:59] charkour commented on #36
Updated the [code sandbox](https://codesandbox.io/s/zundo-with-subscribe-with-selector-forked-mug69t?file=/src/App.tsx) for v2. Works!

Thanks for the initial implementation @tresabhi!

[2022-09-25 23:59] #36 closed

[2022-09-26 00:12] charkour commented on #15
Hey @vixalien and @feuersteiner,

As far as the `canUndo`, `canRedo`, `undoDepth`, `redoDepth` functionality, since those are computed values, I don't think it is necessary to add the to main temporal store in the zundo middleware. However, I think a meta-data helper function would be useful to add so I'll work on that.

For the time being, here is a [code sandbox](`canUndo`, `canRedo`, `undoDepth

[2022-09-26 18:42] charkour opened #55 "Switch pause and resume to "Context Module Function""
Rather than expose the helpers in the store, we can simply export it from the store.

Would this be better? Would this help the bundle size?

[2022-09-28 06:53] stephanepx opened #57 "Log : type & payload"
Hi !
Thank's for all your work !
I've installed the library on my project, and now logs are not displayed in devtools
In my setters I have something like this :

[code]

Without Zundo, my logs are correctly displayed in devtools.
With Zundo, all functions in devtools are "anonymous"

Do you have an idea ?

Thank's!

[2022-09-28 13:17] charkour commented on #57
Hey @stephanepx,

Thank you for using zundo and I'm sorry to hear you are having trouble. Happy to help.

To help me debug the issue, what version of zustand and zundo are you using? Also, in what order are you adding your temporal and devtools middleware?

Could you provide a code sandbox with the issue? Here is a [starter](https://codesandbox.io/s/zundo-2dom9).

[2022-10-13 12:34] magicspon commented on #57
@stephanepx i resolved this issue by reordering the middleware.

[code]

[2022-10-27 08:52] stephanepx commented on #57
Thank's @magicspon !!
@charkour I think you can close it ! :)
Thank's again for this lib !

[2022-10-27 11:51] charkour commented on #57
Thanks for the update! Cheers

[2022-10-27 11:51] #57 closed

[2022-11-15 12:59] skrat commented on #15
If I only use the `.temporal` store in my component, it doesn't get re-rendered when I call `undo()` or `redo()` because `pastStates` and `futureStates` are not chaning identity (not 100% about this), they're simply being changed in place with `push` and `splice`.

[2022-11-15 14:02] dotesfera commented on #15
Same here

[2022-11-15 16:00] skrat commented on #15
@charkour demo here https://codesandbox.io/s/zundo-forked-xf0t5p?file=/src/App.tsx

[2022-11-15 16:14] charkour commented on #15
@skrat, thank you! This is helpful.

I completely forgot about this edge case, and you're right that the `pastStates` and `futureStates` are not re-rendering because they are not changing identity.

[2022-11-15 16:18] charkour commented on #15
I think the code needs to be updated to call the `set` function in https://github.com/charkour/zundo/blob/main/packages/zundo/src/temporal.ts inside the functions `undo`, `redo`, `clear`, and `__internal.handleUserSet`.

It might be a couple of days to confirm this theory. You're welcome to try it out if you're interested!

[2022-11-15 16:23] skrat commented on #15
@charkour maybe, but IMO it won't suffice, you simply need to change `pastStates` and `futureStates` identities, so it's either some form of `[...pastStates, nextState]` or wrapping them in an object that changes identity, eg. `{ states: pastStates }` or some such. My 2 cents.

[2022-11-15 16:27] charkour commented on #15
Ah yes, I think you're right. So inside of those functions, `set` needs to be called while also returning a new object as you said.

That would likely work, and in the future, we can find a way to force a re-render because we don't want to constantly be generating new objects. It will slow down the JS with garbage collection.

[2022-11-15 20:50] charkour commented on #15
I have a fix for this and can publish it later tonight!

[2022-11-16 17:29] charkour commented on #15
@skrat, a fix to your bug was released in v2.0.0-beta.6

I'll leave this PR open for now since it is slightly different than the one you reported.